{% extends 'futebol/base.html' %}

{% block body %}

<div class="container">
    <h1>Contactos:</h1>
    <div class="panel panel-primary" >
        <div class="panel-body">
            <center>
                <h4>
                    <i>
                        Gonçalo Alface  -  69209  -  gpaea@iscte-iul.pt
                        <br>
                        <br>
                        Rafael Fernandes  -  68640  -  crscf@iscte-iul.pt
                        <br>
                        <br>
                        Tiago Almeida  - 69362  -  tfpaa@iscte-iul.pt
                        <br>
                    </i>
                </h4>
            </center>
        </div>
    </div>
</div>







{% endblock %}